.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}
.MiMapa {
  height: 100%;
  width: 75%;
}
.menuBar {
  width: 25%;
  background-color: #D69E24;
}
#search {
  width: 80%;
  height: 2rem;
  font-size: 1rem;
  background-color: #97EDC4;
}
.menuList {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
}
.itemList {
  list-style: none;
  padding: 0.15rem;
  font-size: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================== Media Queries for smaller devices ====================== */
@media only screen and (max-width: 400px) {
  .App {
		display: flex;
		flex-direction: column;
    }
  .MiMapa {
    width: 100%;
  }
  .menuBar {
    width: 100%;
  }
}
